* {
    padding: 0;
    margin: 0;
}

body {
    /*background-image: url(../imgs/fondoTenisMesa.jpg);*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

h1,
h2,
h3,
.titulo {
    text-shadow: 2px 1px black;
    margin: 1%;
    border-bottom: 1px 1px black;
    color: white;
}

.tabla {
    width: 100%;
    height: 100%;
}

.columnas {

    width: 22%;
    height: 100%;
    border-collapse: collapse;
    vertical-align: top;
    padding: 1%;
    display: inline-block;
}

.jugadorCuarto,
.jugadorSemi,
.jugadorFinal,
.campeon {
    text-align: center;
    background-color: rgba(240, 248, 255, 0.753);
    border-radius: 2%;
    list-style: none;
}

.jugadorCuarto {
    margin: 10% 0;
    border: 2px solid black;
}

.jugadorSemi {
    margin: 28% 0;
    border: 2px solid yellow;

}

.jugadorFinal {
    margin: 60% 0;
    border: 2px solid green;
}

.campeon {
    margin: 100% 0;
    border: 2px solid red;
}
.contenedor{
    background-color: white;
    width: 50%;
    margin: auto;
    padding: 1%;
    border: 2px solid black;
}
.datosFicha{
margin: 3%;
color: rgb(0, 119, 255);

}
.tituloFicha{
    color: rgb(0, 119, 255);
}
.contenedorLogin{
    background-color: rgba(0, 119, 255, 0.562);
    width: 40%;
padding: 1%;
    margin: 10% auto;
    border: 2px solid black; 
}
.datosLogin{
    font-size: x-large;
    font-weight: 600;
    text-shadow: 1px 1px white;
}
.inputLogin{
    width: 90%;
    padding: 1%;
}
.tablaTorneo,th{
    border: 1px solid black;
    border-collapse: collapse;
    margin: 1%;
}