* {
   margin: 0;
   padding: 0;

}

.imgTitulo{
   width: 25%;
 
 
}
.categorias{
   border: 1px dotted black;
   display: inline-block;
   text-align: center;
   width: 20%;
   margin: 0.5%;
   background-color: rgba(250, 200, 200, 0.507);
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


body {
   background-image: url(../imgs/sala-de-cine.webp);
   background-size: cover;
   background-repeat: no-repeat;
   background-color: aliceblue;
   background-attachment: fixed;
   background-position: center;
   font-family: 'Allerta Stencil', sans-serif;
}

.titulo, h1{
   margin: 2% 0;
   padding: 1.5%;
   background-color: rgba(250, 200, 200, 0.799);
   text-shadow: 2px 2px white;
   text-align: center;
   font-size: 250%;
}

.contenedorLista {
   float: left;
   width: 100%;
   text-align: center;

}

.listaCategorias {
   list-style: none;
   font-size: 200%;

}

.generos, a{
   text-decoration: none;
   margin-bottom: 1%;
}

.generos:link,a:link {
   color: black;
   text-shadow: 2px 2px white;
}

.generos:visited,a:visited {
   color: black;
}

.generos:hover, a:hover {
   color: darkred;
}

.generos:active,a:active {
   color: firebrick
}