* {
    margin: 0px;
    padding: 0px;
}

.barraNavegacion {
    background-color: rgba(152, 41, 41, 0.644);
    min-height: 10%;
    padding: 10px;
    font-family: 'Metal Mania', cursive;
    font-weight: bold;
    font-size: 30px;
    text-shadow: 1px 1px white;
}

.listaNavegacion {
    display: inline;
    text-align: center;
    margin: 0 50px 0 0;
}
.contenedor {
    background-color: black;
    min-height: 100%;
    width: 100%;
    background-image: url(../imgs/sangre.png);
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
}
.cuerpo {
    margin: auto;
    background-color: rgb(29, 75, 29);
    width: 70%;
    padding: 5px;

}
.individuales {
    font-family: 'Metal Mania', cursive;
    border: 2px groove darkred;
    background-color: rgba(79, 112, 79, 0.63);
    border-radius: 2%;
    padding: 5px;
    margin: 20px 8px;
  

}
.conjuntoImgSinopsis{
    width: 100%;
    overflow: auto;
}
.titulo {
    font-weight: bold;
    font-size: larger;
    margin: 10px;

}
.imagen {
    max-width: 20%;
    height: auto;
   float: left;
    display: inline;
    margin: 0px 10px;
    
}
.votos {
    position: absolute;
    right: 20%;
    top: 20%;

}
.piePag {
    background-color: rgba(152, 41, 41, 0.644);
    min-height: 10%;
    padding: 10px;
    text-align: center;
}
.contenedorFicha {
    width: 100%;
    height: 100%;
    position: relative;
}
.botonVotar{
    position: absolute;
    right: 5%;
    top: 3%;
    font-size: medium;
    background-color: rgb(29, 75, 29);
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
.votosFicha{
    position: absolute;
    display: block;
    right: 20%;
    top: 5%;
    font-size: x-large;
    font-weight: 600;
}



.tituloFicha {
    font-size: 300%;
    text-align: center;
    font-weight: bold;
}

.imagenFicha {
    margin: auto;
    width: 40%;
    overflow: auto;
    display: block;
}

.inicio:link,
.inicio:visited,
.volverFicha:link,
.volverFicha:visited {
    text-decoration: none;
    color: rgb(15, 119, 15);
}


.inicio:hover,
.volverFicha:hover {
    color: darkred;
    cursor: pointer;
}

.inicio:active,
.volverFicha:active {
    color: red
}

.fichaGrande:link,
.fichaGrande:visited {

    color: darkred;
    position: absolute;
    right: 20%;
}

.fichaGrande:hover,
.fichaGrande:active {
    color: red
}

