* {
    margin: 0px;
    padding: 0px;
}

.barraNavegacion {
    background-color: rgba(255, 209, 240, 0.845);
    min-height: 10%;
    padding: 10px;
    font-family: 'Sevillana', cursive;
    font-weight: bold;
    font-size: 30px;
    text-shadow: 1px 1px white;

}

.listaNavegacion, .orden {
    display: inline;
    text-align: center;
   margin: 0 1%;
}

.contenedor {
    background-color: rgb(255, 153, 209);
    min-height: 100%;
    width: 100%;
    background-image: url(../imgs/barbie.jpg);
    background-attachment: fixed;
}

.cuerpo {
    margin: auto;
    background-color: rgb(255, 153, 209);
    width: 70%;
    padding: 5px;
}

.individuales {
    font-family: 'Sevillana', cursive;
    border: 1px dashed rgb(248, 0, 145);
    background-color: rgba(253, 221, 239, 0.836);
    border-radius: 2%;
    padding: 5px;
    margin: 20px 8px;
    position: relative;
}

.conjuntoImgSinopsis {
    width: 100%;
    overflow: auto;
}

.titulo {
    font-weight: bold;
    font-size: larger;
    margin: 10px;
}

.imagen {
    max-width: 20%;
    height: auto;
    float: left;
    display: inline;
    margin: 0px 10px;
}

.votos {
    position: absolute;
    right: 10%;
    top: 10%;
}

.piePag {
    min-height: 10%;
    background-color: rgba(255, 209, 240, 0.845);
    padding: 10px;
    text-align: center;

}

.contenedorFicha {
    width: 100%;
    height: 100%;

}

.botonVotar {
    position: absolute;
    right: 5%;
    top: 3%;
    font-size: medium;
    background-color: rgb(255, 153, 209);
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.votosFicha {
    position: absolute;
    display: block;
    right: 10%;
    top: 4%;
    font-size: x-large;
    font-weight: 600;
}

.tituloFicha {
    font-size: 300%;
    margin: 4%;
    font-weight: bold;
}

.imagenFicha {
    margin: auto;
    width: 40%;
    overflow: auto;
    display: block;
}

.inicio:link,
.inicio:visited,
.volverFicha:link,
.volverFicha:visited ,
.orden:link,
.orden:visited {
    text-decoration: none;
    color: black;
}

.inicio:hover,
.volverFicha:hover,
.orden:hover {
    color: rgb(255, 0, 255);
}

.inicio:active,
.volverFicha:active,
.orden:active {
    color: rgb(172, 0, 157)
}

.fichaGrande:link,
.fichaGrande:visited {
    position: absolute;
    right: 10%;
    color: rgb(255, 0, 255);
}

.fichaGrande:hover,
.fichaGrande:active {
    color: rgb(172, 0, 157)
}
.orden{
    font-size: medium;
   
}